In [26]:
ref='nb9-' #Note to matt

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import tensorflow as tf

import random

import matplotlib

plt.style.use('seaborn-whitegrid')
matplotlib.rcParams.update({
    'font.family': 'serif',
    'axes.titlesize':16,
    'axes.labelsize':16,
    'axes.xmargin':0.1,
    'axes.ymargin':0.1,
    'legend.fontsize':16,
    'xtick.labelsize' : 16,
    'ytick.labelsize' : 16,
    'lines.markersize': 10,
    'lines.linewidth' : 3,
    'font.size': 16
})

In [2]:
f = open("../reports/{}log.txt".format(ref), "w")
f.write("Data Log File \n")
f.write("===================== \n")

23

# Importing Data

In [3]:

dataset=pd.read_csv("../data/processed/mlp_dataset_raw_xyz.csv",index_col=False )
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,293,294,295,296,297,298,299,300,301,302
0,-426.0,-413.0,-394.0,-367.0,-340.0,-313.0,-286.0,-261.0,-235.0,-220.0,...,115.0,115.0,107.0,103.0,96.0,98.0,98.0,0.133031,1.527700e+09,52-1
1,-362.0,-362.0,-362.0,-352.0,-343.0,-326.0,-324.0,-310.0,-299.0,-292.0,...,77.0,75.0,71.0,64.0,53.0,45.0,43.0,0.328511,1.527700e+09,52-1
2,-312.0,-311.0,-307.0,-313.0,-317.0,-317.0,-320.0,-321.0,-330.0,-331.0,...,25.0,22.0,14.0,13.0,28.0,67.0,100.0,0.462072,1.527700e+09,52-1
3,-408.0,-420.0,-413.0,-408.0,-410.0,-425.0,-425.0,-413.0,-374.0,-343.0,...,108.0,107.0,108.0,114.0,115.0,108.0,103.0,0.516548,1.527700e+09,52-1
4,-343.0,-331.0,-324.0,-312.0,-306.0,-301.0,-302.0,-306.0,-312.0,-312.0,...,55.0,51.0,45.0,44.0,38.0,36.0,34.0,0.591766,1.527700e+09,52-1

In [24]:
X=dataset.iloc[:,0:300].values
y=dataset.iloc[:,300].values

In [25]:
#Split training/testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
f.close()